<h1>
  全体進捗確認ページ
</h1>

<table>
  <thead>
    <tr>
      <th>従業員一覧</th>
    </tr>
  </thead>
  <tbody>
    <% @crews.each do |crew| %>
      <tr>
        <td><%=link_to crew.name ,crew_path(crew)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to '新しい社員登録', '/crews/new' %>
</p>

<p>
  <%= link_to 'Back', '/kanri/kanri_top' %>
</p>
