<h2>シラバス</h2>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% @sirabasus.each do |sirabasu| %>
      <tr>
        <td><%= sirabasu.name %></td>
        <td><%= sirabasu.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
