<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/top_stylesheet.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ログイントップ画面</title>
</head>
<body>
    <header>
        <div class="header-logo">OJT Manager</div>
    </header>
    <div class="content">
      <div class="buttons">
        <button type=button class="man_button" onclick= "location.href= '/kanri/kanri_top'">管理者<br>ログイン</button>
        <button type=button class="per_button" onclick="location.href= '/user/user_top'">個人<br>ログイン</button>
      </div>
    </div>

    <footer>
        <div class="footer-logo">OJT Manager</div>
    </footer>
</body>
