<h1>
  チェックリスト
</h1>

<%= check_box_tag :c %>
<% @sirabasus.each do |sirabasu,i| %>
<p><%=  label_tag :c,sirabasu.name %><p>
  <%= check_box_tag 'sirabasu[name][]', sirabasu,false,id:"sirabasu_sirabasu_#{i}"%>
  <% end %>

<p>
  <%= link_to 'Sirabasu', '/user/sirabasu' %>
</p>
