<h1>
  チェックリスト
</h1>

<table>
  <thead>
    <tr>
      <th>番号</th>
      <th>名前</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td><%= checklist.number %></td>
        <td><%= checklist.name %></td>
        <td><%= checklist.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
