<h1>
  シラバス選択ページ
</h1>

<h2>作成したシラバス</h2>

<table>
  <thead>
    <tr>
      <th>章番号</th>
      <th>名前</th>
    </tr>
  </thead>
  <tbody>
    <% @sirabasus.each do |sirabasu| %>
      <tr>
        <td>
          <%= sirabasu.number %>
        </td>
        <td>
          <%= link_to sirabasu.name, "/checklists/#{sirabasu.number}/new" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>